{{#foreach posts}}
<div class="bit-small">
    <article class="article" style="background-image: url({{image}})">
        <h5 class="article-title"><a href="{{url}}">{{{title}}}</a></h5>
    </article>
</div>
{{/foreach}}

