//MEDIA QUERY BREAKPOINTS 
$small:             30em; // Portrait mobile to landscape mobile
$medium:            50em; // Portrait tablet to landscape tablet
$large:             68.750em; // Small desktop to large desktop


@import 'grid';
@import 'base';

@mixin material-shadow-z-1{        
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);//, 0 1px 2px rgba(0,0,0,0.24);        
}

@mixin material-shadow-z-2{                
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0.2);
}

@mixin material-shadow-z-3{        
    box-shadow: 0 12px 17px 0 rgba(0,0,0,0.3), 0 8px 5px 0 rgba(0,0,0,0.2);
}

@mixin debug-outline($color) {
	//border: 2px solid $color;
}

@mixin morphing-fab{

	border-radius: 50%;			
	transition: .3s ease-in-out;

	&:hover {
		border-radius: 5%;
		transform: scale(1.1, 1.1);
		@include material-shadow-z-3;
	}
}

@mixin respbg{
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

@mixin card{
	position: relative;
	background-color: #FAFAFA;
	margin: 2em;
	padding: 2em;
	z-index: 100;
    border-radius: 3px;
	@include material-shadow-z-2;

    @media (max-width: $small) {
      margin: 0;
      padding: 2em 1.5em;
      @include material-shadow-z-1;
    }
}

a {
	color: #832f0c;
	font-weight: bold;
	text-decoration: none;
	transition: .2s ease-in-out;

	&:hover, &:focus{
		color: #7986CB;
		text-shadow: 0 0 1px #7986CB;
	}
}

body {
	background-color: #F2EFE8;
	color: #3A4145;
    font-family: "Roboto", serif;
}

::-moz-selection {
    background: #D6EDFF;
}

::selection {
    background: #D6EDFF;
}

.bounding{	
	width: 80%;
	margin: 0 auto;
	
	@media (min-width: $large){
		width: 960px;
		margin: 0 auto;
	}

	@media (max-width: $medium){	
		width: 100%;
	}

    @include debug-outline(red);
}


//MAIN HEADER FOR ALL THE PAGES
header#main-header {
    @include debug-outline(yellow);
	position: relative;
	background-color: #3F51B5;
	width: 100%;
    height: 400px;

    @media (max-width: $medium) {
      height: 300px;
    }
  
    &:not(&.post-header) {
      @media (max-width: $large) and (orientation: landscape) {
        height: 150px;
      }
    }
    @media (max-width: $small) {
      height: 200px;
    }

	@include respbg;
	@include material-shadow-z-1;

	.bounding{
		position: absolute;
		bottom: 0;
        height: 100%;
		left: 0; right: 0;
	}

    //SHADOW DRAWN WHEN COVER IS PRESENT
	#main-header-shadow{
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(10,10,10,.2);
	}

    //TEXT SHADOWED WHEN COVER PRESENT
	&.shadowed-text {
		#main-header-content, nav#social-nav{
			text-shadow: 1px 2px 7px rgba(0, 0, 0, 1);
		}
	}

	#main-header-content {

		@include debug-outline(green);

        //NEEDED ON SMALLER SCREENS
        //TO AVOID TITLE OVERLAPPING IMAGE
		position: absolute;		
		text-align: left;
		color: white;
		bottom: 3em;

        @media(min-width: $small) and (max-width: $medium){
          bottom: 15%;
          padding-left: 2em;
        }

        @media (max-width: $small) {
          font-size: 0.7em;
          padding-left: 2em;
          padding-right: 1em;
          bottom: 4em;
        }

		#page-title {
			margin: 0;
			padding: 0;
			font-size: 3em;				
		}			

		#page-descr, #post-date {	
			padding:0;	
			margin: 0;	
			font-size: 1.8em;
			font-weight: 200;
		}
	}

	.author-image {
		position: absolute;
		bottom: -40px;
		right: 30px;
		width: 100px;
		height: 100px;

			@media (max-width: $small){
				bottom: -20px;
				width: 80px;
				height: 80px;
			}
		
		@include material-shadow-z-2;
		@include morphing-fab;
		@include respbg;
	}

	//SOCIAL NAVIGATION
	nav#social-nav {

        position: absolute;
        bottom: 1em;
        right: 1em;

		.social-link {
			color: white;
			font-size: 1.2em;
			padding: 0 0.5em;
		}

		@include debug-outline(blue);
	}
}

//PUSH CONTENT UP IF ON POST HEADER
header#main-header.post-header {

  #main-header-content {
    #post-date {
      margin-top: 0.4em;
      margin-left: 0.4em;
      font-size: 1.3em;
    }
  }

  .bounding {
    bottom: 6em;
    @media (max-width: $medium){
      bottom: 4em;
    }
    @media (max-width: $small){
      bottom: 0;
    }
  }
}

//MAIN CONTENT
main#content{
    margin-top: 1em;
    @media (min-width: $small){
      margin-top: 2em;
    }

	.bit-small {		
		.article{
          @include respbg;
          @include material-shadow-z-2;

          position: relative;
          margin: 1em 1em 2em;
          border-radius: 4px;

          background-color: #2b2b2b;
          height: 400px;

          //ZOOM ARTICLE ON HOVER
          @media (min-width: $small){
            transition: .4s ease-in-out;
            &:hover {
              transform: scale(1.05, 1.05);
              @include material-shadow-z-3;
            }
          }

          .article-title {
            position: absolute;
            width: 100%;
            bottom: 0;
            margin: 0;
            text-align: center;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            background-color: #FAFAFA;
            font-size: 1.1em;
            padding: 0.7em 0;
          }
		}		
	}

	.author-info {
      @include card;
      margin: 3em 1em 2em;
			
		.author-bio{
			font-size: 1.3em;
			margin-bottom: 2em;
		}

		> span{
			display: inline-block;
			width: 49%;
		}

		.author-location {
			width: 100%;
			font-size: 1.2em;
		}

		.author-stats {
			text-align: right;
		}
	}
}

//POST ARTICLE
article#main-article{

  .post-content{
    font-size: 1.2em;
    line-height: 1.5em;
  }

	@include card;
    margin-top: -6em;

	@media (max-width: $medium){
		margin-top: -4em;
	}

	@media (max-width: $small){
		margin-top: 0;
	}


  section.tags{
    width: 100%;
    text-align: center;
  }
}

//POST FOOTER
footer.post-footer{
    @include card;
    margin-top: 4em;

	@media (max-width: $small){
		margin-top: 3em;
	}

	.author-image {
		display: block;
		width: 100px;
		height: 100px;
		
		position: absolute;
		right: 5%;
		
		top: -30px;

		@include respbg;
		@include material-shadow-z-2;
		@include morphing-fab;
	}

	#author-name {
		font-size: 1.5em;
		margin-top: 0.3em;
	}

	.author-meta {
		width: 100%;

		> span {
          display: inline-block;
          width: 49%;
          font-weight: bold;

          &:last-child {
              text-align: right;
            }

          @media (max-width: $small){
            display: block;
            &:last-child {
              margin-top: 0.3em;
              text-align: left;
            }
          }
		}
	}
}

section.share {
	border-top: 1px solid RGBA(92, 103, 110, .4);
	margin-top: 1.5em;
	margin-bottom: 0;
	padding: 2em 0 .4em;	
	text-align: center;
  

    >a {
      @include material-shadow-z-2;
      &:hover {@include material-shadow-z-3};
      font-size: 1.2em;

      width: 60px;
      height: 60px;
      line-height: 60px;
      margin-right: 3em;
      @media (max-width: $small){
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 1em;
      }

      display: inline-block;
      color: #fff;
      text-align: center;
      border-radius: 50%;

      &.facebook     {background-color: #3b5998;}
      &.twitter      {background-color: #00aced;}
      &.google-plus  {background-color: #dd4b39;}
	}
}


//PAGINATION
nav.pagination {
	text-align: center;
	margin: 2em;
	
	.newer-posts{
		font-weight: bold;
		margin-right: 2em;
	}

	.older-posts {	
		font-weight: bold;
		margin-left: 2em;
	}
}

//FOOTER
footer#main-footer {
	padding: 2em 0;
	margin-top: 4em;
	width: 100%;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.32) inset;
	background-color: #C5C5C5;

	#main-footer-content {
		text-align: center;
		font-size: 0.8em;

		> span {
			display: inline-block;
            &:after{
              content: '/';
              margin: 0 .7em;
            }
            &:last-child:after{
              content: '';
              margin: 0;
            }

			> span {
				color: #262B2E;
			}
		}		
	}
}

